$black: #212529;
$white: #fff;

$link-color: #3498db;
$link-color-hover: shade($link-color, 20%); // https://codepen.io/KatieK2/pen/tejhz

$backgnd-dark: #3B3C3D;
$backgnd-light: #ecf0f1;

$red: #D60008;
