footer {
  background: $backgnd-dark;
  color: $white;
  padding: 9px 5.5556%;
  margin-top: 1.875em;
  text-align: center;

  .container > * { font-weight: 700; }

  .love { /* :) */
    font-size: 2em;
    color: $red;
  }
}
